<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/Home/Index">Etusivu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/About">Tietoa meistä</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Contact">Yhteystiedot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onmouseover="this.style.cursor='pointer'" data-toggle="modal" data-target="#myModal">Kirjaudu sisään</a>
            </li>
        </ul>
    </div>
</nav>