<style>
    #navbarSupportedContent {
        padding-left: 28%;
        margin: 5px 0px;
    }

    li {
        margin-right: 40px;
    }

    .nav li {
        margin-right: 10px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" @*active tohon hipsukoiden sisään*@>
                <a class="nav-link" href="~/Home/Index">ETUSIVU@* <span class="sr-only">(current)</span>*@</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/About">TIETOA MEISTÄ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Contact">YHTEYSTIEDOT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onmouseover="this.style.cursor='pointer'" data-toggle="modal" data-target="#myModal">YLLÄPITO</a>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">
    const activePage = window.location.pathname;
    const navLinks = document.querySelectorAll('nav a').
        forEach(link => {
            if (link.href.includes(`${activePage}`)) {
                link.classList.add('active');
            }
        })
</script>