<div class="margin">
    @model KipparitRy2._0.Models.Rekisteroitymiset

    @{
        ViewBag.Title = "Details";
    }

    <h2>Tiedot</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Asiakas</dt>
            <dd>@Html.DisplayFor(model => model.Asiakkaat.Nimi)</dd>
            <dt>Tilaisuus</dt>
            <dd>@Html.DisplayFor(model => model.Tilaisuudet.Nimi)</dd>
        </dl>
    </div>
    <p>
        <a class="btn btn-success" href="~/Rekisteroitymiset/Edit/@Model.RekisterointiID">Muokkaa</a>
        <a class="btn btn-primary" href="~/Rekisteroitymiset/">Takaisin listaan</a>
    </p>
</div>