<div class="margin">
    @{
        ViewBag.Title = "Tietoa meistä";
    }
    @*JQuery suoritetaan aina, kun sivu latautuu*@
    @section scripts {
        <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#myModal').modal('show');
            }
        });
        </script>
    }
<div class="center">
    <br />
    <h3 style="margin-top:2%;">@ViewBag.Message</h3>

    <br />
    <p style="line-height:2em;">
        Yhdistyksen nimi on Porvoon Kipparit ry ja kotipaikka on Porvoon kaupunki. <br />Yhdistyksestä käytetään näissä säännöissä
        nimitystä seura.<br /> Seuran tarkoituksena on herättää ja edistää merenkulun harrastusta ja liikennekulttuuria, <br />sekä kehittää ja
        ylläpitää jäsentensä merenkulkutaitoa ja merimiestaitoa <br />ja tässä mielessä toimia yhdyssiteenä kaikkien harrastelija-ja
        ammattimerenkulkijapiirien välillä.
    </p>
    <br />
    <p style="line-height:2em; margin-bottom:5%;">
        Seura pyrkii toteuttamaan tarkoitustaan järjestämällä merenkulun opastusta, harjoituksia, <br />tutkintoja, kilpailuja,
        valistustoimintaa, tilaisuuksia miellyttävään ja hyödylliseen ajanviettoon, <br />sekä järjestämällä näyttelyitä, arpajaisia ja omistamalla
        ja hallitsemalla kiinteistöjä sekä irtainta omaisuutta. <br />Seura ja sen jäsenet antavat mahdollisuuksiensa mukaan vapaaehtoista
        apua meripelastustoimintaan.</>
        <br />
        <br />
        <img id="logos" src="~/image/lokorivi.jpg" width="742" height="121" class="image1" />


        @{
            Html.RenderPartial("_LoginModal");
        }
</div>
</div>