<div class="margin">
    @{
        ViewBag.Title = "ReDirect2";
    }

    <h2>Kiitos rekisteröitymisestä!</h2>
    <br />
    <p>Tietosi ovat tallennettu onnistuneesti järjestelmään. Sinulle ei lähetetä erikseen sähköpostia rekisteröitymisestä, joten muistathan merkata itse ylös tilaisuuden infon.</p>
    <p>Voitte nyt poistua tältä sivulta.</p>

    <div>
        <p><a class="btn btn-primary" href="~/Home/">Takaisin etusivulle</a></p>
    </div>

    <br />
    <img id="logos" src="~/image/viides.jpg" width="1024" height="682" class="kuva5" />
    <br />

</div>